{:deps {com.cognitect.aws/api {:mvn/version "0.8.686"}
        com.cognitect.aws/endpoints {:mvn/version "1.1.12.504"}
        com.cognitect.aws/glue {:mvn/version "848.2.1413.0"}
        com.cognitect.aws/sqs {:mvn/version "847.2.1398.0"}
        com.cognitect.aws/sns {:mvn/version "847.2.1365.0"}
        com.cognitect.aws/budgets {:mvn/version "847.2.1365.0"}
        com.cognitect.aws/monitoring {:mvn/version "847.2.1387.0"}
        com.cognitect.aws/sts {:mvn/version "847.2.1387.0"}
        com.cognitect.aws/s3 {:mvn/version "848.2.1413.0"}
        com.cognitect.aws/athena {:mvn/version "847.2.1398.0"}}}