{:deps {com.cognitect.aws/endpoints {:mvn/version "1.1.12.456"}
        com.cognitect.aws/sqs {:mvn/version "847.2.1365.0"}
        com.grzm/awyeah-api {:git/url "https://github.com/grzm/awyeah-api"
                             :git/sha "9257dc0159640e46803d69210cae838d411f1789"
                             :git/tag "v0.8.41"}}}
