{:deps {io.github.lispyclouds/bblgum
        {:git/sha "1d4de3d49b84f64d1b71930fa1161f8d2622a4d9"}
        com.grzm/awyeah-api {:git/url "https://github.com/grzm/awyeah-api"
                             :git/sha "9257dc0159640e46803d69210cae838d411f1789"
                             :git/tag "v0.8.41"}
        com.cognitect.aws/monitoring {:mvn/version "847.2.1387.0"}
        com.cognitect.aws/endpoints {:mvn/version "1.1.12.504"}}}
